@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

// abstract
@import "abstracts/index";
// Component
@import "components/index";
// utilities
@import "utilities/index";
// layout
@import "layout/index";
// Pages
@import "pages/index";

* {
    font-family: 'Montserrat', sans-serif;
}

.h-minus-145 {
    height: calc(100vh - 73px - 61px - 47px - 49px);
    overflow-y: auto;
}
