// Landing
@import "landing/index";

* {
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    padding: 10px;
}

.tree {
    list-style-type: none;
    padding: 0;
}

.category-checkbox,
.subcategory-checkbox,
.subsubcategory-checkbox {
    // Checkbox styles
    margin-right: 5px;
}

.category-label,
.subcategory-label,
.subsubcategory-label {
    // Label styles
    font-size: 14px;
    cursor: pointer;
}

.caret-icon {
    // Caret icon styles
    margin-right: 5px;
    cursor: pointer;
}

.subcategory {
    // Indent and style subcategories and sub-subcategories
    margin-left: 20px;
}

.subsubcategory {
    // Indent and style subcategories and sub-subcategories
    margin-left: 50px;
}

.collapsed .subcategories,
.collapsed .subsubcategories {
    // Styles for collapsed sub-elements
    display: none;
}

.category-label .caret-icon.down {
    transform: rotate(90deg);
}

.collapsed > .caret-icon svg {
    transform: rotate(0deg);
}

.caret-icon svg {
    transform: rotate(90deg);
}
.masonry-item {/* Space between items */
    &.active {
        background: #762a1e;
        color: #FAFAFA;
    }
}


.checker {
    & + .hello {
        display: none;
    }
    &:checked + .hello {
        display: block;
    }
}
